
# Ignore Eclipse settings
.settings/

# Ignore compiled Java classes
*.class


# Ignore IDE-specific files
*.iml
*.ipr
*.iws

*.log
*.swp

# Ignore files generated during development or runtime
*.jar
*.war
*.ear

